{{>header}}
{{>sidebar}}

<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">

        <div class="w-full grid grid-cols-3 gap-4 mb-4 ">
            <div
                class="border flex items-center justify-center h-fit rounded bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                <dl
                    class="grid max-w-screen-xl grid-cols-1 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-1 xl:grid-cols-1 dark:text-white sm:p-8">
                    <div class="flex flex-col items-center justify-center">
                        <dt class="mb-2 text-3xl font-extrabold">73+</dt>
                        <dd class="text-gray-500 dark:text-gray-400">New complains in last 24 hours</dd>
                    </div>

                </dl>
            </div>
            <div
                class=" dark:border-gray-700 border flex items-center justify-center h-fit rounded bg-gray-50 dark:bg-gray-800">
                <dl
                    class="grid max-w-screen-xl grid-cols-1 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-1 xl:grid-cols-1 dark:text-white sm:p-8">
                    <div class="flex flex-col items-center justify-center">
                        <dt class="mb-2 text-3xl font-extrabold">73+</dt>
                        <dd class="text-gray-500 dark:text-gray-400">New complains in last week</dd>
                    </div>

                </dl>
            </div>
            <div
                class=" dark:border-gray-700 border flex items-center justify-center h-fit rounded bg-gray-50 dark:bg-gray-800">
                <dl
                    class="grid max-w-screen-xl grid-cols-1 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-1 xl:grid-cols-1 dark:text-white sm:p-8">
                    <div class="flex flex-col items-center justify-center">
                        <dt class="mb-2 text-3xl font-extrabold">73+</dt>
                        <dd class="text-gray-500 dark:text-gray-400">New complains in last month</dd>
                    </div>

                </dl>
            </div>
        </div>

        <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class=" p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800">
                <dl
                    class="grid max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-3 dark:text-white sm:p-8">
                    <div class="flex flex-col items-center justify-center">
                        <dt class="mb-2 text-3xl font-extrabold">73+</dt>
                        <dd class="text-gray-500 dark:text-gray-400">Pending Complains</dd>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <dt class="mb-2 text-3xl font-extrabold">100+</dt>
                        <dd class="text-gray-500 dark:text-gray-400">In Progress Complains</dd>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <dt class="mb-2 text-3xl font-extrabold">100+</dt>
                        <dd class="text-gray-500 dark:text-gray-400">Solved projects</dd>
                    </div>
                </dl>
            </div>
        </div>


    </div>


</div>
</div>

{{>footer}}