{{>header}}
{{>sidebar}}

<div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
        <h1
            class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white">
            Existing Questions</h1>
        <ol class="space-y-4 text-gray-500 list-decimal list-inside dark:text-gray-400">
            {{#each questions}}
            <li>
                {{this.questionText}}
                <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                    {{#each this.options}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ol>
            <div class="mt-5">
                <button onclick="addQuestion()"
                    class="text-white m-5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add
                    Question</button>
                <button onclick="deleteQuestion()" class="text-white m-5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Delete Question</button>

            </div>


    </div>
    </div> 
 

    <script>
        // Function to add a new question
        function addQuestion() {
            // Redirect to the page where administrators can add a new question
            window.location.href = '/manageQuestions/addQuestion';
        }

        // Function to delete a question (You can implement this functionality)
        function deleteQuestion(questionId) {
            window.location.href = '/manageQuestions/deleteQuestion';
            // Implement this function to allow administrators to delete the selected question
        }
    </script>
{{>footer}}